*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.mainContainer {
  margin-top: 100px;
  margin-bottom: 10px;
}

.heading{
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
  color: #ff3e5f;
  }

@media screen and (max-width: 600px) {
  .mainContainer {
    margin-top: 100px;
    margin-bottom: 10px;
  }
}
